@import "twitter/bootstrap";
@import "../../../vendor/assets/css/theme_venera";
@import "activities";
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *= require self
 *= require_tree .
 */
 .bs-docs-example {
  position: relative;
  padding: 50px;
  *padding-top: 30px;
  background: transparent image-path('stripped-bg.png') left top repeat;
  -webkit-box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.1) inset;
  border: 1px solid #a1a496;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  margin-bottom: 10px;
}
