<section class='section-wrapper stripped'>
  <div class='container'>
    <h1 class='section-header'>Activities in <%= params[:neighborhood] %></h1>
     <%= render 'activity' %>
  </div>
</section>
<script>
  $(function(){
    $(".star").each(function(index){
      var rating = $(this).data('rating');
      $(this).raty({
        readOnly: true,
        score: rating,
        path: '/assets'
      });
    });
  });
</script>