<!DOCTYPE html>
<html>
<head>
  <title>CityKid</title>
	<!-- Add Theme Venera stylesheet -->
	<link href="assets/stylesheets/activities.css.scss" rel="stylesheet" media="screen">
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
